.bannerHeader {
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  .headerBannerCenter {
    width: 728px;
    height: 90px;
    background-color: #ed0678;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
